<div class="row">
  <center>
    <!-- Left Column: Ordered-->
    <div class="col-md-6">
      <h4 class="columnFont">Ordered & ready to eat!</h4>
      <div id="ready_to_eat">
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}
      </div>
    </div>

    <!-- Right Column: Devoured -->
    <div class="col-md-6">
      <h4 class="columnFont">Burgers Devoured</h4>
      <div id="burgers_devoured">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control" id="devouredForm">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </center>
</div>